*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-end;
  column-gap: 30px;
  min-width: 1140px;
  height: 534px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
}

.content__details {
  width: 100%;
}

.title {
  padding-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: .94em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 300px;
  overflow: overlay;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.95em;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.result__video {
  display: block;
}